@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.sidenav-1 {
  height: 50%; /* Full-height: remove this if you want "auto" height */
  width: 18%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 50px;
  border: 1px solid #F8F8F2;
}
.sidenav-2 {
  height: 50%; /* Full-height: remove this if you want "auto" height */
  width: 18%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  bottom: 0; /* Stay at the bottom */
  left: 0;
  background-color: #fff;
  overflow-x: hidden; /* Disable horizontal scroll */
  margin-top: 0px;
  border: 1px solid #F8F8F2;
}
.repo-table {
  width: 100%;
}

.preview {
  padding: 10px;
  overflow: scroll;
  max-height: 900px;
}

.column {
  float: left;
  width: 41%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  position: absolute;
  left: 18%;
  width: 100%;
}

.action-button {
  width: 300px;
  margin: auto;
  padding: 10px;
  display: block;
  text-align: center;
}

.editor {
  display: block;
  position: fixed;
}